* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
:root {
    --text-color: #333;
    --background-color: #1393e9;
    --hover-color: #1780c7;
    --white-color: #fff;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem ;
    font-family: 'Josefin Sans', sans-serif;
}

